@model Preporate
@{
    
}

<main class="main">
    <div class="container">
        <div class="main__inner">
            <div class="two-columns">
                @if (Model.Image == null)
                {
                    <div class="item__img" style="background-image:url('./images/box.png');"></div>
                }
                else
                {
                    @* <div class="item__img" background-image="src(@String.Concat("data:image/png;base64,",@Convert.ToBase64String(item.Image)))"></div> *@
                    <div class="item__img" style="background-image: url('@Url.Action("GetImage","Home")')"></div>
                }
                <!-- КНОПКА ДЛЯ СМЕНЫ КАРТИНКИ -->
                <label class="img__change-input">
                    Сменить
                    <input type="file" />
                    </label>
                </div>
            <div class="content">
                <div class="content__item">
                    <div class="text">Название</div>
                    <div class="text">@Model.Name</div>
                    </div>
                <div class="content__item">
                    <div class="text">Поставщик</div>
                    <div class="text">@Model.Provider.EMail</div>
                    </div>
                                    
                <div class="content__item">
                    <div class="text">Дата производства</div>
                    <div class="text">@Model.DateOfProduction.ToString()</div>
                    </div>
                <div class="content__item">
                    <div class="text">Тип</div>
                    <div class="text">@Model.PreporateType.Name</div>
                    </div>
                <div class="content__item">
                    <div class="text">Цена</div>
                    <div class="text">@Model.Cost.ToString()</div>
                    </div>
                <div class="content__item">
                    <div class="text">Количество</div>
                    <div class="text">@Model.Count.ToString()</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>