@inject IPreporateTypeRepository PreporateTypeRepository

@model UIL.Models.PreporatesSearch
@{
	ViewBag.Title = "Препораты";
}

@if(User.Identity.IsAuthenticated){
	<div class="main main--aside">
		<div class="container">
			<div class="main__inner">
				<div class="aside">
					<form asp-action="Preporates" class="aside__form">
						<div class="aside__title">Поиск</div>
						<div class="aside__text">Дата</div>
						<input asp-for="DateOfProductionDown" class="input input--small" />
						<input asp-for="DateOfProductionUp" class="input input--small" />
						<div class="aside__text">Название</div>
						<input asp-for="Name" class="input input--small" />
						<div class="aside__text">Поставщики</div>
						@for (int i = 0; i < Model.Providers.Count; i++)
						{
							if (Model.SelctedProviders!=null)
							{
								if (Model.SelctedProviders.Contains(Model.Providers[i].Id))
								{
									<label>
										<input type="checkbox" name="SelctedProviders" value="@Model.Providers[i].Id.ToString()" checked/>
										@Model.Providers[i].Name
									</label>
								}
								else
								{
									<label>
										<input type="checkbox" name="SelctedProviders" value="@Model.Providers[i].Id.ToString()"/>
										@Model.Providers[i].Name
									</label>
								}
							}
							else
							{
								<label>
									<input type="checkbox" name="SelctedProviders" value="@Model.Providers[i].Id.ToString()"/>
									@Model.Providers[i].Name
								</label>
							}
						}
						<div class="aside__text">Тип</div>
                        						@for (int i = 0; i < Model.Types.Count; i++)
                        						{
                        							if (Model.SelctedTypes!=null)
                        							{
                        								if (Model.SelctedTypes.Contains(Model.Types[i].Id))
                        								{
                        									<label>
                        										<input type="checkbox" name="SelctedTypes" value="@Model.Types[i].Id.ToString()" checked/>
                        										@Model.Types[i].Name
                        									</label>
                        								}
                        								else
                        								{
                        									<label>
                        										<input type="checkbox" name="SelctedTypes" value="@Model.Types[i].Id.ToString()"/>
                        										@Model.Types[i].Name
                        									</label>
                        								}
                        							}
                        							else
                        							{
                        								<label>
                        									<input type="checkbox" name="SelctedTypes" value="@Model.Types[i].Id.ToString()"/>
                        									@Model.Types[i].Name
                        								</label>
                        							}
                        						}
						<input type="submit" value="Найти" class="btn btn--big"/>
					</form>
				</div>
				<div class="catalog">
					<a class="btn" asp-controller="Card" asp-action="PreporateAdd">Добавить</a>
					<div class="catalog__items">
						@{
							if (Model.Preporates != null)
							{
								foreach (var item in Model.Preporates)
								{
									<div class="catalog__item">
										@if (item.Image == null)
										{
											<div class="item__img" style="background-image:url('./images/box.png');"></div>
										}
										else
										{
											<div class="item__img" style="background-image: url(data:image;base64,@System.Convert.ToBase64String(item.Image));"></div>
										}
										<div class="item__content">
											<p class="item__title">@item.Name</p>
											<div class="item__infos">
												<div class="item__info">Тип: @PreporateTypeRepository.GetById(item.PreporateTypeId).Name </div>
												<div class="item__info">Цена: @item.Cost.ToString()</div>
											</div>
										</div>
									</div>
								}
							}

						}

					</div>
				</div>
			</div>
		</div>
	</div>
}